@page
@model AddCollectionModel

@{
    ViewData["Title"] = "Add Collection";
}
<h1>@ViewData["Title"]</h1>


@using (Html.BeginForm("Collection_DE", "AddCollection", FormMethod.Post, new { id = "COLLECTION_DE" }))
{
<body>
    <form method = "post">
        <legend>Add a Collection</legend>
        <p><label for="CollectionName">Collection Name:</label>
            @Html.TextBoxFor(c => c.CollectionName, new { @class = "form-control" })
        </p>

        <p><label for="Description">Description:</label>
            @Html.TextBoxFor(c => c.Description, new { @class = "form-control" })
        </p>

        <button type="submit">Submit</button>
    </form>
</body>
}