@page
@model CollectionDEModel

@{
    ViewData["Title"] = "Collection Data Entry";
}
@{
    var cname = "";
    var desc = "";

    if(IsPost){
        cname = Request.Form["cname"];
        desc = Request.Form["desc"];

        var db = Database.Open("dt-team2");
        var insertCommand = "INSERT INTO Collections (CollectionName, Description) VALUES(@0, @1)";
        db.Execute(insertCommand, cname, desc);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheet.css">

    <style type="text/css">
        #desc {
            height: 128px;
            width: 327px;
        }

        #cname {
            width: 324px;
        }
    </style>

</head>
<body>

    <div class="grid-container">
        <div class="sidenav">
            <div class="sidenav a">
                <h2> Enter Collection Data </h2>
            </div>
        </div>
        <form method="post">
            <fieldset>
            <p><label for="cname">Collection name:</label><br>
                <input type="text" name="cname" value="@Request.Form["cname"]" style="width: 218px"><br>
            </p>
            <p><label for="desc">Description:</label><br>
                <input type="text" name="desc" value="@Request.Form["desc"]" style="height: 109px; width: 335px">
            </p>
            <p><input type="submit" name="buttonSubmit" value="Submit"/></p>
            </fieldset>
        </form>
    </div>
</body>
</html>