@page
@model CollectionsModel
@{
    ViewData["Title"] = "Collections Table";
    string[] TableHeaders = new string[]{"Collection Name",
        "Description"
    };
}
<h1>@ViewData["Title"]</h1>

<body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">

            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Search for collections">
                    <button type="submit" class="btn btn-secondary">Search</button>
                </div>
            </div>

            <a asp-page="/AddCollection" asp-area="" button type="button" class="btn btn-primary">Add a collection</a>

        </div>
    </div>
    <div class = "table">
        <table class ="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach(var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }    
                    }
                </tr>
            </thead>
            <tbody>
            @{
                if (Model != null)
                {
                    foreach(CollectionsOutput Data in CollectionsModel.col_output)
                    {
                        <tr>
                            <td>@Data.CollectionName</td>
                            <td>@Data.Description</td>                             
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
</body>