@page
@model DataReportModel

@{
    ViewData["Title"] = "Data Report";
}

<h1>@ViewData["Title"]</h1>

<body>
    <p>Show various data patterns of the musuem database that are pertinent to user.</p>
</body>