@page
@model EditCollectionModel
@Html.ValidationSummary()
@{
    ViewData["Title"] = "Edit Collection";
}
<h1>@ViewData["Title"]</h1>
</br>
<body>

@using (Html.BeginForm("OnPost", "EditCollection", FormMethod.Post, new { id = "COLL_DE" }))
{
    <input type="hidden" name="OrigCollectionName" value=@Model.OrigCollectionName />
    <div class="row">
        <div class="col-lg-2">Collection Name</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.CollectionName, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Description</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.Description, new { @class = "form-control" })
        </div>
    </div>
    <br />
    @* <div class="row"> *@
    <input type="submit" value="Submit" class="btn btn-primary">
    <a asp-page="/Collections" asp-area="" button type="button" class="btn btn-outline-danger m-1">Cancel</a>
}

</body>