@page
@model ExhibitionsModel
@{
    ViewData["Title"] = "Action Forbidden";
}
<h1>@ViewData["Title"]</h1>
</br>
<body>
    Only admins may complete this action.
    <a asp-page="Index">Return to Homepage</a>
</body>