
@page
@model ItemRemoveModel
@{
    ViewData["Title"] = "Remove an Item";
    string[] TableHeaders = {"Item ID", "Item Label"};
}

@using (Html.BeginForm("ItemRemove_DE", "ItemRemove", FormMethod.Post, new { id = "ITEMREMOVE_DE" }))
{
<body>
    <form name = "ItemRemove" method = "post">
        <legend>Remove an Item</legend>
        <p><label for="item">Enter Item ID of Item to Delete:</label>
             @Html.TextBoxFor(i => i.itemID, new { @class = "form-control" })                 
        </p>

        <input type="submit" onclick="submitFunction()" value = "Remove Item"></input>
    </form>

    <div class = "table">
        <table class ="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach(var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }    
                    }
                </tr>
            </thead>
            <tbody>
            @{
                if (Model != null)
                {
                    foreach(SelectListItem Data in ItemRemoveModel.items)
                    {
                        <tr>
                            <td>@Data.Value</td>
                            <td>@Data.Text</td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
    <script>
        function submitFunction(){
            
        }
    </script>
</body>
}