@page
@model SellATicketModel

@{
    ViewData["Title"] = "Sell An Item";
}

@using (Html.BeginForm("Ticket_DE", "SellATicket", FormMethod.Post, new {id = "TICKET_DE"}))
{
<body>
    <form method = "post">

        <legend>Sell a Ticket</legend>
            <p><label for="ticketType">Ticket Type:</label>

            </p>

            <p><label for="accessType">Access Type:</label>

            </p>

            <p><label for="price">Price:</label>
                @Html.TextBoxFor(t => t.price, new { @class = "form-control" })
            </p>

            <p><label for="Type">Expiration Date:</label>
                @Html.TextBoxFor(t => t.expirationDate, new { @class = "form-control" })
            </p>

            <p><input type="submit" name="buttonSubmit" value="Complete Transaction" /></p>

    </form>
</body>
}
