@page
@model SellAnItemModel

@{
    ViewData["Title"] = "Sell An Item";
}

<body>
    <form method = "post">
        <legend>Sell an Item</legend>
        <p><label for="item">Item:</label>
            @Html.DropDownListFor(t => Model.itemID, new SelectList(Model.items, "Value", "Text"), 
            htmlAttributes: new { @class = "form-control", @id = "Item" })
            <a asp-page="/ItemAdd" asp-area="" button type="button" class="btn btn-primary">Add an Item</a>
            <a asp-page="/ItemEdit" asp-area="" button type="button" class="btn btn-primary">Edit an Item</a>
            <a asp-page="/ItemRemove" asp-area="" button type="button" class="btn btn-primary">Remove an Item (Admin)</a>
        </p>

        <p><label for="price">Price:</label>
            @Html.TextBoxFor(i => i.price, new { @class = "form-control" })
        </p>

        <p><label for="date">Date:</label>
            @Html.TextBoxFor(i => i.date, new { @class = "form-control" })
        </p>

        <button type="submit">Complete Transaction</button>
    </form>
</body>

