@page
@model SellATicketModel

@{
    ViewData["Title"] = "Sell A Ticket";
}


<body>
    <form asp-controller="Home" asp-action="Index" method="post">
        <p><label for="accesstype">Select Access Type:</label></p>
        <select asp-for="access" asp-items="Model.access"></select> 

        <p><label for="accesstype">Select Access Type:</label></p>
        <select asp-for="ticket" asp-items="Model.ticket"></select> 

        <p><label for="item">Price:</label>
            @Html.TextBoxFor(t => t.price, new { @class = "form-control" })
        </p>

        <p><label for="expirationdate">Ticket Expiration Date:</label>
            @Html.TextBoxFor(t => t.expirationDate, new { @class = "form-control" })     
        </p>

        <br /><button type="submit">Submit</button>
    </form>

</body>

