@page
@model TicketTypeRemoveModel
@{
    ViewData["Title"] = "Remove a Ticket Type";
    string[] TableHeaders = {"Ticket Type ID", "Ticket Type Label"};
}

@using (Html.BeginForm("TicketTypeRemove_DE", "TicketTypeRemove", FormMethod.Post, new { id = "TICKETTYPEREMOVE_DE" }))
{
<body>
    <form method = "post">
        <legend>@ViewData["Title"]</legend>
        <p><label for="item">Enter ID of Ticket Type to be Deleted:</label>
            @Html.TextBoxFor(t => t.ticketTypeID, new { @class = "form-control" })       
        </p>

        <button type="submit">Remove Selected Ticket Type</button>
    </form>

    <div class = "table">
        <table class ="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach(var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }    
                    }
                </tr>
            </thead>
            <tbody>
            @{
                if (Model != null)
                {
                    foreach(SelectListItem Data in TicketTypeRemoveModel.tickets)
                    {
                        <tr>
                            <td>@Data.Value</td>
                            <td>@Data.Text</td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
</body>
}