@page
@model TransactionsModel
@{
    ViewData["Title"] = "All Transactions";
}

<h1>@ViewData["Title"]</h1>

<body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">

            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Search for Transactions">
                    <button type="submit" class="btn btn-secondary">Search</button>
                </div>
            </div>

            <a asp-page="/SellAnItem" asp-area="" button type="button" class="btn btn-primary">Sell an Item</a>
            <a asp-page="/SellATicket" asp-area="" button type="button" class="btn btn-primary">Sell a Ticket</a>
            <a asp-page="/AddMember" asp-area="" button type="button" class="btn btn-primary">Add a Member</a>

            <br /><br />
            <p>Add carousel, grid or whatever here to show all transactions.</p>
            <p>Integrate edit/remove with entries.</p>

            @* <div class="alert alert-warning fade">
                <img src="http://entechprod.blob.core.windows.net/dotnetfiddle/morpheus.jpg"
                style="max-width:100%;"/><br/><br/>
                <strong><span class="alert-content"></span></strong>
                </div> *@
        </div>
    </div>
</body>